@import '../../theme/Default.module.scss';
@import '../../theme/Utils.module.scss';

.page_subtitle{
    @extend %title-xl;
    @extend %text-gradient-primary;

    @include isMobile{
        font-size: var(--title-size);
    }
}

.section_three_content{
    padding: 40px;
    text-align: center;
    @include isMobile{
    padding: .3rem;
        
    }
}