.section_two{
    display: block;
    padding: 40px;

    & h2{
        font-size: 2.5rem;
        margin-bottom: 1rem;
    }

    & p{
        font-size: 1.2rem;
    }
}

.section_two_content{
    display: flex;
    flex-direction: row;
    height: 98vh;
    gap: 1rem;
    padding-top: 5rem;
}

.section_two_text_container{
    flex: 5;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.section_two_container{
    flex: 7;
    display: flex;
    gap: 10px;
}

.section_two_item_one, .section_two_item_two{
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.section_two_item_one_inside_one, .section_two_item_two_inside_two{
    flex: 5;
    border-radius: 10px;
}

.section_two_item_one_inside_two, .section_two_item_two_inside_one{
    flex: 7;
    border-radius: 10px;
}


@media only screen and (max-width: 901px){
    .section_two{
        padding: var(--padding);

    }
    .section_two_content{
        flex-direction: column;
        gap: 2rem;
        height: auto;
    }

    .section_two_container{
        flex-direction: column;
        height: 170vh;
        flex: auto;
    }

    
    .section_two_item_one_inside_two, .section_two_item_two_inside_one, .section_two_item_one_inside_one, .section_two_item_two_inside_two{
        flex: 1;
    }
    


}