@import '../../theme/Default.module.scss';
@import '../../theme/Utils.module.scss';

.page_subtitle{
    @extend %title-lg;
    @extend %text-gradient-primary;
}

.page_description{
    font-size: var(--title-size-sm);
    @include isMobile{
        font-size: var(--title-size-xsm);
        margin: .5rem 0;
    }
}


.section_one{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    background-color: #ffffff56;
}

.section_one_content{
    background-color: #ffffff56;
    backdrop-filter: blur(10px);
    width: 100%;
    height: 50%;
    padding: 4rem 0;
}

.section_one_text_container{
    color: #201009;
    text-align: left;
    padding: 40px;
    width: 70vw;
}

.section_one_container {
    display: flex;
    flex-direction: row;
    gap: 1rem;
    width: 100vw;
    height: 150vh;
    padding: 40px;
}

.item {
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    height: 100%;
    gap: 20px;
}

.item_01{
    flex: 3;
    order: 1;
    & .item_01_inside_01{
        flex: 3;
        border-radius: inherit;
        box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1); 
    }
    & .item_01_inside_02{
        flex: 6;
        border-radius: var(--border-radius);
        box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1); 
    }
    & .item_01_inside_03{
        flex: 3;
        border-radius: inherit;
        box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1); 

    }
}

.item_02{
    flex: 6;
    order: 2;
    & .item_02_inside_01{
        flex: 5;
        border-radius: inherit;
        box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2); 

    }
    & .item_02_inside_02{
        flex: 4;
        border-radius: inherit;
        background-image: url('/images/pages/31.webp');
        background-size: cover;
        background-position-y: bottom;
        border-radius: inherit;
        box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2); 
    }
    & .item_02_inside_03{
        flex: 3;
        border-radius: inherit;
        box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2); 
    }

}

.item_03{
    flex: 3;
    order: 3;
    & .item_03_inside_01{
        flex: 6;
        border-radius: inherit;
        box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1); 
    }
    & .item_03_inside_02{
        flex: 3;
        box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1); 
    }
    & .item_03_inside_03{
        flex: 3;
        box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1); 
    }

}


@media only screen and (max-width: 901px){

    
  
    .section_one_text_container{
        width: 100%;
        padding: .5rem;
     
    } 

    .section_one_container{
        padding: .5rem;
        flex-wrap: wrap;
        height: auto;

    }

    .item_01{
        flex: auto;
        order: 2;
    }

    .item_02{
        flex: auto;
        order: 1;
        & .item_02_inside_02{
            flex: auto;
            height: 25vh;
        }
    }

    .item_03{
        flex: auto;
        order: 3;
    }

}



 