@import "../../theme/Default.module.scss";
@import "../../theme/Utils.module.scss";

.surgical_care_page{
    padding-top: 20vh;
    backdrop-filter: blur(7px);
    background-color: #fde6ee81;
    display: flex;
    flex-direction: column;
    align-items: center;
    &::-webkit-scrollbar {
        display: none;
    }
}

.section {
    min-height: 100vh;
    display: grid;
    align-items: center;
    justify-content: center;
    width: 100%;
}
  
.section1 {
    width: 80vw;
    height: 100%;
}

.section1_content{
    display: flex;
    justify-content:  center;
    align-items: center;
    height: 100%;
    flex-wrap: wrap;
    position: relative;
    width: 100%;
}

.text_container{
    width: 70%;
    text-align: left;
}

.title_page{
    @extend %title-xl;
    @extend %text-gradient-primary;
    @include isMobile{
        font-size: var(--title-size);
    }
    
}

.sub_title_page{
   @extend %title-lg;
   @include isMobile{
        font-size: var(--title-size-md);
   }
}

.cards_container{
    display: flex;
    right: 0;
    gap: 2rem;
}

.section2 {
    background-color: #fff; 
    width: 100vw;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.content, .aside, .footer {
    padding: 20px;
}

.content {
    grid-area: content;
}

.aside {
    grid-area: aside;
}

.footer {
    grid-area: footer;
}


@media only screen and (max-width: 901px){

    .surgical_care_pag{
        padding-top: 25vh;
    }
        .section1{
            width: 100vw;
        }

        .text_container{
            width: 100%;
            padding: 1rem;
        }
}