@import "../../theme/Default.module.scss";
@import "../../theme/Utils.module.scss";

.button__secondary {
    background-color: transparent;
    border: 1px solid var(--color-primary);
    border-radius: .3rem;
    cursor: pointer;
    padding: .2rem;
    font-size: var(--small-card-h3);
    font-weight: 700;
    color: #000;
    width: 100%;
    transition: all .2s;
    span {
        font-weight: bold;
    }
}

.button__secondary:hover{
    @extend %text-gradient-primary; 
}

.button__primary{
    border: none;
    border-radius: .3rem;
    color: #fff;
    cursor: pointer;
    background-color: var(--color-primary);
    padding: var(--padding);
    font-size: var( --title-size-sm);
    transition: all .3s;
    border: 1px solid var(--color-primary);
    width: 100%;
}

.button__primary:hover{
    background-color: var(--color-surface-rgb);
    @extend %text-gradient-primary; 
}
