.card_hover {
    $root: &;
    width: 360px;
    height: 500px;
    position: relative;
    overflow: hidden;
    box-shadow: 2px 2px 4px rgba(0,0,0,0.3);
    border-radius: 5px;
    &:has(#{$root}__link:hover) {
  
      #{$root}__extra {
        transform: translateY(0);
        transition: transform 0.35s;
      }
    }
  
    &:hover {
     
      #{$root} {
  
        &__content {
          background-color: #e41e4a;
          bottom: 100%;
          transform: translateY(90%);
          padding: 50px 60px;
          transition: all 0.35s cubic-bezier(.1,.72,.4,.97);
        }
  
        &__link {
          opacity: 1;
          transform: translate(-50%, 0);
          transition: all 0.3s 0.35s cubic-bezier(.1,.72,.4,.97);
        }
      }
  
      img {
        transform: scale(1);
        transition: 0.35s 0.1s transform cubic-bezier(.1,.72,.4,.97);
      }
    }
  
    &__content {
      width: 100%;
      text-align: center;
      backdrop-filter: blur(7px);
      background-color: #e41e498e;
      padding: 2rem;
      position: absolute;
      bottom: 0;
      left: 0;
      transform: translateY(0);
      transition: all 0.35s 0.35s cubic-bezier(.1,.72,.4,.97);
      will-change: bottom, background-color, transform, padding;
      z-index: 1;
  
      &::before,
      &::after {
        content: '';
        width: 100%;
        height: 120px;
        backdrop-filter: blur(14px);
        background-color: inherit;
        position: absolute;
        left: 0;
        z-index: -1;
      }
  
      &::before {
        top: -120px;
        clip-path: ellipse(60% 80px at bottom center);
        
      }
  
      &::after {
        bottom: -119px;
        clip-path: ellipse(60% 80px at top center);
      }

      & h2{
        font-size: 2rem;

        & span{
        
            color: #fff;
        }
      }



    }
  
    &__title {
      font-size: 1.5rem;
      margin-bottom: 1em;
  
      span {
        color: #201009;
      }
    }
  
    &__text {
      font-size: 0.75rem;
    }
  
    &__link {
      position: absolute;
      bottom: 1rem;
      left: 50%;
      transform: translate(-50%, 10%);
      display: flex;
      flex-wrap: wrap;
      align-items: center;
      text-decoration: none;
      color: #fff;
      opacity: 0;
      padding: 10px;
      transition: all 0.35s;

  
      &:hover {
        
        svg {
          transform: translateX(4px);
        }
      }
  
      svg {
        width: 18px;
        margin-left: 4px;
        transition: transform 0.3s;
      }
    }
  
    &__extra {
      height: 50%;
      position: absolute;
      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: column;
      width: 100%;
      font-size: 1.5rem;
      text-align: center;
      /* backdrop-filter: bluer(7px); */
      background-color: #e41e49;
      padding: 80px;
      bottom: 0;
      z-index: 0;
      color: #201009;
      transform: translateY(100%);
      will-change: transform;
      transition: transform 0.35s;
  
      span {
        -webkit-text-fill-color: transparent; 
        -webkit-background-clip: text;
        background-image: linear-gradient(
          45deg,
          #CBB26A,
          #cf9f4e,
          #fdf1ae,
          #cf9f4e,
          #a47c3d
  );
      }
    }
  
    img {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      object-fit: cover;
      object-position: center;
      z-index: -1;
      transform: scale(1.2);
      transition: 0.35s 0.35s transform cubic-bezier(.1,.72,.4,.97);
    }
  }
  