.card_hover {
    $root: &;
    width: 360px;
    height: 500px;
    position: relative;
    overflow: hidden;
    background-size: cover;
    background-repeat: no-repeat;
    background-position-x: -10vw;
    box-shadow: 2px 2px 4px rgba(0,0,0,0.3);
    border-radius: 7px;
    transition: all 0.35s;

    &:has(#{$root}__link:hover) {
  
      #{$root}__extra {
        transform: translateY(0);
        transition: transform 0.35s;
      }
    }
  
    &:hover {
     
      #{$root} {
  
        &__content {
          backdrop-filter: blur(7px);
          background-color: #e41e498e;
          bottom: 100%;
          height: 50%;
          transform: translateY(100%);
          transition: all 0.35s cubic-bezier(.1,.72,.4,.97);
        }
  
        &__link {
          opacity: 1;
          transform: translate(-52%, 0);
          transition: all 0.3s 0.35s cubic-bezier(.1,.72,.4,.97);
          backdrop-filter: blur(10px);
          background-color: #e41e498e;
          border-radius: 7px;
          box-shadow: .5px .5px 1px rgba(0,0,0,0.3);
        }
      }
    }
  
    &__content {
      width: 100%;
      text-align: center;
      backdrop-filter: blur(7px);
      background-color: #e41e498e;
      padding: 50px 60px;
      position: absolute;
      bottom: 0;
      left: 0;
      transform: translateY(0);
      transition: all 0.35s 0.35s cubic-bezier(.1,.72,.4,.97);
      will-change: bottom, background-color, transform, padding;
      z-index: 1;
  
      & h2{
        font-size: 2rem;

        & span{
        
            color: #fff;
        }
      }
    }
  
    &__title {
      font-size: 1.5rem;
      margin-bottom: 1em;
  
      span {
        color: #201009;
      }
    }
  
    &__text {
      font-size: 0.75rem;
    }
  
    &__link {
      position: absolute;
      bottom: -12;
      left: 50%;
      transform: translate(-50%, 10%);
      display: flex;
      flex-wrap: wrap;
      align-items: center;
      text-decoration: none;
      color: #fff;
      opacity: 0;
      padding: 10px;
      transition: all 0.35s;
      font-size: 1.5rem;
      cursor: pointer;
      &:hover {
        
        svg {
          transform: translateX(4px);
        }
      }
  
      svg {
        width: 18px;
        margin-left: 4px;
        transition: transform 0.3s;
      }
    }
  
    &__extra {
      height: 50%;
      position: absolute;
      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: column;
      width: 100%;
      font-size: 2rem;
      text-align: center;
      backdrop-filter: blur(7px);
      background-color: #e41e498e;
      padding: 1rem;
      bottom: 0;
      z-index: 0;
      color: #201009;
      transform: translateY(100%);
      will-change: transform;
      transition: transform 0.35s;
  
      span {
        -webkit-text-fill-color: transparent; 
        -webkit-background-clip: text;
        font-weight: 900;
        font-size: 3rem;
        background-image: linear-gradient(
          45deg,
          #CBB26A,
          #cf9f4e,
          #fdf1ae,
          #cf9f4e,
          #a47c3d
      );
      }
    }
  }