.header{
    height: 100px;
    background-color: #fff;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    width: 100%;
    position: fixed;
    padding-bottom: .2rem;
    background-image: linear-gradient(
        90deg,
        #f5d167,
        #cf9f4e,
        #fdf1ae,
        #cf9f4e,
        #a47c3d
      );
      background-size: 200% 200%;
      transition: background-position .5s linear; 
      
      &:hover {
        background-position: 100% 100%; 
        box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);

      }
    z-index: 100;
}

.header_container{
    width: 100%;
    background-color: #fff;
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 1.5rem;
}



@media only screen and (max-width: 901px){
    
 }