.main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
   /*  background-image: url('../assets/images/link-cards/22.png'); */
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
    background-position-x: calc(-10vw);
}

.main_container{
  /* display: grid;

  grid-template-columns: repeat(3, 1fr); */
 /*  grid-template-rows: repeat(4, 1fr); */
  display: flex;

  height: 35vh;
  width: 40vw !important;
  row-gap: 8px;
  column-gap: 12px;
  width: 80vw;
  color: #858080;
  position: absolute;
  bottom: 10vh;
  right: 0;
  overflow-x: scroll;
  & > a {
    
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    background-color: #fff;
    transition: .5s all;
    padding: .3rem;
    background-image: linear-gradient(
      180deg,
      #CBB26A,
      #cf9f4e,
      #fdf1ae,
      #cf9f4e,
      #a47c3d
    );
    background-size: 200% 200%;
    transition: background-position .5s linear; 
    
    &:hover {
      background-position: 100% 100%; 
    }
  }

  &::-webkit-scrollbar {
    display: none;
}
 
}

@media only screen and (max-width: 901px){

  .main{
    background-position-x: calc(50%);
  }

  .main_container{
    row-gap: 4px;
    column-gap:2px;
    width: 100vw;
    padding: .3rem;

    & > a{
      padding: .2rem;
    }
  }
}
