.home{
  background-image: url('/images/logo.jpg');
  background-size: contain !important;
  background-position-y: 5vh;
}


// #fad7de
.main {
    min-height: 100vh;
    background-color: #fff ;
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
    transition: background-image 0.5s ease;
}

.main_container{
    height: fit-content;
    width: 50vw;
    overflow-x: scroll;
    position: fixed;
    bottom: 2rem;
    right: 0;
    padding-bottom: .5rem;

    &::-webkit-scrollbar {
        width: 10px;
        background-color: transparent; 
        height: 7px;
        cursor: pointer;
    }
    &::-webkit-scrollbar-thumb {
        background-image: linear-gradient(
        45deg,
        #CBB26A,
        #cf9f4e,
        #fdf1ae,
        #cf9f4e,
        #a47c3d
        );  
        border-radius: 10px;
        height: 5px;
        cursor: pointer;
    }
    &::-webkit-scrollbar-track {
        background-color: transparent;  
    }

    
}

.links_list_container {
    display: flex;
    width: max-content;
    gap: 1rem;
    & > a {
        display: flex;
        justify-content: center;
        align-items: center;
        cursor: pointer;
        background-color: #fff;
        transition: .5s all;
        padding: .3rem;
        background-image: linear-gradient(
          180deg,
          #CBB26A,
          #cf9f4e,
          #fdf1ae,
          #cf9f4e,
          #a47c3d
        );
        background-size: 200% 200%;
        transition: background-position .5s linear; 
        &:hover {
            background-position: 100% 100%; 
        }
    }
}


.service_page{
  height: 100vh;
  width: 100vw;
  background-size: cover;
  background-repeat: no-repeat;
}




@media only screen and (max-width: 901px){

  .main{
    background-size: 150%;
    background-position-y: 10vh;
    background-position-x: 50%;

    }

  .main_container{
    width: 100vw;
    bottom: 1rem;
    & > a{
      padding: .2rem;
    }
  }

  .links_list_container {
        gap: 1rem;
        & > a {
        padding: .2rem;
        }
    }

    .service_page{
      background-size: contain;
      background-position-y: 10vh;
    }
}

