.main {
    min-height: 100vh;
    background-color: #fff;
    position: relative;
    transition: background-image 0.5s ease;

    
}

.service_page{
  height: 100vh;
  width: 100vw;
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;
}

.service_page_main_container{
  height: fit-content;
  width: 50vw;
  overflow-x: scroll;
  position: fixed;
  bottom: 0;
  right: 0;
  padding-bottom: .5rem;

  &::-webkit-scrollbar {
      width: 10px;
      background-color: transparent; 
      height: 7px;
      cursor: pointer;
  }
  &::-webkit-scrollbar-thumb {
      background-image: linear-gradient(
      45deg,
      #CBB26A,
      #cf9f4e,
      #fdf1ae,
      #cf9f4e,
      #a47c3d
      );  
      border-radius: 10px;
      height: 5px;
      cursor: pointer;
  }
  &::-webkit-scrollbar-track {
      background-color: transparent;  
  }
}

.service_page_links_container{
  display: flex;
  width: max-content;
  gap: 1rem;
  height: 350px;
  bottom: 0;
  position: relative;
  & > a {
      display: flex;
      justify-content: center;
      align-items: center;
      cursor: pointer;
      background-color: #fff;
      transition: .5s all;
      padding: .3rem;
      background-image: linear-gradient(
        180deg,
        #CBB26A,
        #cf9f4e,
        #fdf1ae,
        #cf9f4e,
        #a47c3d
      );
      background-size: 200% 200%;
      transition: background-position .5s linear; 
      &:hover {
          background-position: 100% 100%; 
      }
  }
}

.text_container{
  backdrop-filter: blur(7px);
  background-image: linear-gradient(
        45deg,
        #cbb36a6b,
        #cfa04e5e,
        #fdee975e,
        #f1b95773,
        #a47c3d6c
        );  

  position: fixed;
  bottom: 0;
  width: 40vw;
  padding: 2rem .5rem;
  border-top-right-radius: .5rem;
  border-bottom-right-radius: .5rem;
  transition: all .5s;
}

.title{
  color: #201009;
  font-size: 5rem;
  border-radius: .5rem;
  padding: .2rem;
}

.description{
  font-size: 1.2rem;
  padding: .2rem;

}

.principal_button{
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0 2rem;
  height: 4rem;
  width: 100%;
  transition: all .2s;
  box-shadow: 1px 1px 2px rgba(1, 1, 1, .7);
  border-radius: 5px;
  background-image: linear-gradient(
        90deg,
        #CBB26A,
        #cf9f4e,
        #fdf1ae,
        #cf9f4e,
        #a47c3d
      );
  &:hover{
    background-position: center; 
    box-shadow: 0px 0px 1px rgba(1, 1, 1, .7);
  }
}

.principal_button_text{
  font-size: 1.5rem;
  font-weight: bold;
  color: #201009;
}

 @media only screen and (max-width: 901px){

    .service_page{
      background-position-x: -110vw;
    }
    .service_page_main_container{
      width: 100vw;
      bottom: 0;

    }
    .service_page_links_container{
      height: auto;
    }

    .text_container{
      padding: .5rem;
      width: 100vw;
    }

    .title{
      font-size: 2.5rem;
    }
    .description{
      font-size: 1rem;
    }

    .principal_button{
      padding: 0 1rem;
      height: 2.5rem;
    }

    .principal_button_text{
      font-size: 1.2rem;
    }
}