@import "../../theme/Default.module.scss";
@import "../../theme/Utils.module.scss";

.horizontal_card {
    height: 100%;
    border-radius: var(--border-radius);
}

.hc_container {
    display: flex;
    height: 100%;
    border-radius: inherit;
}

.hc_text_container {
    flex: 7;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 1rem;
    padding: .5rem;
    height: 100%;
}

.horizontal_card_title{
    @extend %text-gradient-primary;
    @extend %title-lg;

    @include isMobile{
        font-size: var(--title-size-md);
    }
}

.horizontal_card_description{
    font-size: var(--title-size-xsm);

    @include isMobile{
        font-size: var(--title-size-xs);
    }
}

.horizontal_card_price{
    font-size: var(--title-size-md);
    @extend %text-gradient-black;
}

.hc_image_container {
    flex: 5;
    background-size: cover;
    background-position-x: calc(63%);
    background-position-y: center;
    background-repeat: no-repeat;
    border-top-right-radius: var(--border-radius); 
    border-bottom-right-radius: var(--border-radius); 
}

@media only screen and (max-width: 901px){
}