@import "../../theme/Default.module.scss";
@import "../../theme/Utils.module.scss";

.horizontal_card_sec {
    display: flex;
    height: 100%;
}

.hc_card_sec_image_container {
    flex: 3;
    background-size: cover;
    background-position: center;
    border-top-left-radius: var(--border-radius);
    border-bottom-left-radius: var(--border-radius);
    height: 100%;
}

.hc_card_sec_text_container {
    border-radius: var(--border-radius);
    flex: 9;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
    padding: .3rem;
}

.horizontal_card_title{
    @extend %text-gradient-primary;
}

.horizontal_card_price{
    @extend %text-gradient-black;
    font-size: var(--title-size-md);

}

@media only screen and (max-width: 901px){
    .horizontal_card_sec{
        height: 50vh;
    }

    .hc_card_sec_image_container{
        flex: 5;
    }
    
    .hc_card_sec_text_container{
        flex: 7;
    } 

}