@import "../../theme/Default.module.scss";
@import "../../theme/Utils.module.scss";

.medium_card {
    background-size: cover;
    border-radius: var(--card-radius);
    height: 100%;
    @include isMobile{
        height: 65vh
    }
}

.medium_card_container{
    background-color: var(--color-secundary-transparent);
    backdrop-filter: blur(7px);
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: var(--padding);
    border-radius: var(--card-radius);
    padding: .3rem
}


.medium_card_title{
    @extend %title-lg;
    @extend %text-gradient-black;
}

.medium_card_price{
   @extend %title-md;
}

