@import "../../theme/Default.module.scss";
@import "../../theme/Utils.module.scss";

.small-card {
    display: flex;
    justify-content: space-between;
    height: 100%;
    width: 100%;
    border-radius: var(--border-radius);

    &__text-container {
        @extend %text-container-blur;
        border-radius: 10px 0 0 10px;
        padding: .3rem;
        height: 100%;
        flex: 7;
        display: flex;
        flex-direction: column;
        justify-content: space-between;

        &__title {
        @extend %text-gradient-primary;
            
        }

        &__price {
            font-size: var(--title-size-sm);
            @extend %text-gradient-black;
        }
    }

    &__image-container {
        flex: 5;
        background-size: cover;
        background-position-x: center;
        border-radius: 0px 10px 10px 0px;
    }
}


@media only screen and (max-width: 901px){
    .small-card{
        height:auto;
    }
}
