.AnimateCard {
    width: 250px;
    height: 300px;
    border-radius: 8px;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
  }
  
  .link_card_container {
    width: 100%;
    height: 100%;
    position: relative;
    background-size: cover;
    background-position: calc(50%);
    position: relative;
    border-radius: 5px;
    transition: background-position 0.5s ease;

    &:hover {
      background-position: center; 
    }
  }
  
  .text_container {
    padding: 12px;
    position: absolute;
    bottom: 0;
    backdrop-filter: blur(7px);
    background-image: linear-gradient(
        45deg,
        #cbb36a47,
        #cfa04e2a,
        #fdf1ae34,
        #cfa04e51,
        #a47c3d42
        );  
  }
  
  .title{
    font-size: 18px;
    margin-bottom: 6px;
  }
  
  .description{
    font-size: 14px;
    color: #000;
  }


  @media only screen and (max-width: 901px){
    .AnimateCard {
        width: 200px;
        height: 300px;
    }

    .title{
        font-size: 1rem;
        margin-bottom: 6px;
      }
      
      .description{
        font-size: .8rem;
        color: #000;
      }
  }