.AnimateCard {
    width: 250px;
    height: auto;
    border-radius: 8px;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
  }
  
  .link_card_container {
    width: 100%;
    height: 100%;
    position: relative;
    background-size: cover;
    background-position: calc(50%);
    position: relative;
    border-radius: 5px;
    &:hover {
      background-position: center; 
    }
  }
  
  .text_container {
    width: 100%;
    height: 8rem;
    padding: 5px;
    position: absolute;
    bottom: 0;
    border-top-right-radius: .2rem;
    backdrop-filter: blur(7px);
    background-image: linear-gradient(
        45deg,
        #cbb36a47,
        #cfa04e2a,
        #fdf1ae34,
        #cfa04e51,
        #a47c3d42
        );  
  }
  .title{
    font-size: 18px;
    height: 40px;
    display: flex;
    align-items: center;
    margin-bottom: 6px;
    padding: .5rem;
    color: #201009;
    border-radius: 5px;
    background-image: linear-gradient(
      45deg,
      #CBB26A,
      #cf9f4e,
      #fdf1ae,
      #cf9f4e,
      #a47c3d
    );
     
    &:hover {
      background-position: center; 
    }
    z-index: 5000;
  }
  
  .description{
    font-size: 14px;
    color: #000;
  }


  @media only screen and (max-width: 901px){
    .AnimateCard {
        width: 180px;
        height: 200px;
    }

    .title{
        font-size: 1rem;
      }
      
      .description{
        font-size: .7rem;
        color: #000;
      }

    .text_container{
      height: 7rem;
    }
  }