.FacialTreatments{
    grid-column: span 1 / span 1;
    grid-row: span 2 / span 2;  
    border-radius: .3rem;
}

.link_card_container{
    height: 100%;
    width: 100%;
    background-color: #fff;
}

@media only screen and (max-width: 901px){
    .FacialTreatments{
         grid-column: span 1 / span 1;
         grid-row: span 2 / span 2;  
    }
 }