* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

body {

}

a {
  color: inherit;
  text-decoration: none;
}

.header_transition{
  view-transition-name: page-header;
}

::view-transition-old(page-header) {
  transition: all ease-in-out 1s;
}

::view-transition-new(page-header) {
  transition: all ease-in-out 1s;
  background-color: black;
}


@media only screen and (max-width: 901px){
  h1{
    font-size: 1rem;
  }
}

